/* p {
  color: red;
  font-size: 24px;
} */

p, h1 {
  color:red;
  margin-left: 200px;
}

div  p{
  color: blue;
}

#first-paragraph {
  color: green;
}

.first-paragraph {
  color: yellowgreen;
}

div {
  border: 2px solid blue;
  background: yellow;
  color: gray;
  width:100%;
  border-radius: 5px;
}

div ul {
  list-style: square;
  list-style: none;
}